/k8s-installation/terraform/.terraform/
/k8s-installation/terraform/files/
/k8s-installation/terraform/.terraform.lock.hcl
/k8s-installation/terraform/terraform.tfstate
/k8s-installation/terraform/terraform.tfstate.backup
/k8s-installation/terraform/user_data/k8s_addson.sh
/.idea/
